<header>
    <nav class="header-nav">
        <a class="header-logo" href="/">
            <img class="" src="/media/logo-trendio.png" />
        </a>
        <div class="admin-header-options">
            <div>
                <div class="admin-header-options-header">
                    <a href="/videos/">Videos</a>
                </div>
            </div>
            <div>
                <div class="admin-header-options-header">
                    <a href="/products/">Products</a>
                </div>
            </div>
            <div>
                <div class="admin-header-options-header">
                    <a href="/categories/">Categories</a>
                </div>
            </div>
            <div>
                <div class="admin-header-options-header">
                    <a href="/creators/">Creators</a>
                </div>
            </div>
            <div>
                <div class="admin-header-options-header">
                    <a href="/promos/">Promos</a>
                </div>
            </div>
        </div>
    </nav>
</header>