<footer>
    <div class="footer-main-section">
        <div class="footer-links-block">
            <div class="footer-links">
                <div class="footer-links-header">Buying from us</div>
                <ul>
                    <li><a href="">Payment</a></li>
                    <li><a href="">Shipping</a></li>
                    <li><a href="">Returns</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <div class="footer-links-header">Legal</div>
                <ul>
                    <li><a href="">Privacy policy</a></li>
                    <li><a href="">Cookie policy</a></li>
                    <li><a href="">Terms & conditions</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <div class="footer-links-header">Company</div>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">In a nutshell</a></li>
                </ul>
            </div>
                <div class="contact-block">
                    <div class="footer-links-header">Need help?</div>
                    <div class="contact-item">+1 735 880 824<i class="fas fa-circle"></i>hello@trendio.com</div>
                </div>
                <div class="footer-newsletter-block">
                    <form method="POST" action="">
                        <div class="footer-links-header">Be our guest</div>
                        <div class="newsletter-claim">Get our updates on new arrivals and upcoming events. Opting in our guests list makes you eligible to our welcome gift. Learn more about our <a href="">Privacy Policy here</a>.</div>
                        <div class="form-row form-row-bundle">
                            <div class="form-item">
                                <input type="email" name="email" value="" >
                            </div>
                            <button id="submitLogin" class="btn btn-primary btn-secondary" type="submit">Send</button>    
                        </div>
                    </form>
                </div>
            <div class="payment-section">
                <div class="payment-section-header">Trendio accepts</div>
                <div class="payment-section-wrapper">
                    <div class="payment-icon"><i class="fab fa-cc-visa"></i></div>
                    <div class="payment-icon"><i class="fab fa-cc-mastercard"></i></div>
                    <div class="payment-icon"><i class="fab fa-cc-apple-pay"></i></div>
                    <div class="payment-icon"><i class="fab fa-cc-amex"></i></div>
                    <div class="payment-icon"><i class="fab fa-cc-jcb"></i></div>
                    <div class="payment-icon"><i class="fab fa-cc-diners-club"></i></div>
                    <div class="payment-icon"><i class="fab fa-cc-paypal"></i></div>
                </div>
            </div>
            
        </div>
            <!-- <div class="social-section">
                <div class="social-icon"><i class="fab fa-twitter"></i></i></div>
                <div class="social-icon"><i class="fab fa-facebook"></i></div>
                <div class="social-icon"><i class="fab fa-linkedin-in"></i></div>
            </div> -->
        
    </div>
    <div class="copyright">All rights reserved © <%= new Date().getFullYear() %> Trendio</p>
</footer>