<footer>
    <div class="footer-links">
        <ul>
            <li class=""><a href="">Shipping & Returns</a></li>
            <li class=""><a href="">Privacy policy</a></li>
            <li class=""><a href="">Terms & conditions</a></li>
            <li class=""><a href="">About us</a></li>
        </ul>
    </div>
    <div class="contact">hello@trendiolive.com</div>
    <div class="payment-section">
        <div class="payment-icon"><i class="fab fa-cc-visa"></i></div>
        <div class="payment-icon"><i class="fab fa-cc-mastercard"></i></div>
        <div class="payment-icon"><i class="fab fa-cc-amex"></i></div>
        <div class="payment-icon"><i class="fab fa-cc-paypal"></i></div>
        <div class="payment-icon"><i class="fab fa-cc-jcb"></i></div>
        <div class="payment-icon"><i class="fab fa-cc-diners-club"></i></div>
    </div>
    <div class="social-section">
        <div class="social-icon"><i class="fab fa-twitter"></i></i></div>
        <div class="social-icon"><i class="fab fa-facebook"></i></div>
        <div class="social-icon"><i class="fab fa-linkedin-in"></i></div>
    </div>
</footer>