<header>
    <nav class="header-nav">
        <a class="header-logo" href="/">
            <img class="" src="/media/logo-trendio.png" />
        </a>
        <ul>
            <li><a href="">Cosmetics</a></li>
            <li><a href="">Skincare</a></li>
            <li><a href="">Fashion</a></li>
        </ul>
    </nav>
</header>