<header>
    <nav>
        <a href="/">Trendio</a>
        <ul>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/videos/new">Add Video</a></li>
        </ul>
    </nav>
</header>