<h2>Videos by <%= creator.name %></h2>
<div class="content-block">
  <% if (videosByCreator.length > 0) { %>
    <% videosByCreator.forEach(video => { %>
      <a href="/videos/<%= video.id %>">
        <img height="150" width="100" src="<%= video.thumbnailPath %>">
      </a>
    <% }) %>
  <% } else { %>
    <p class="center">No videos yet.</p>
  <% } %>
</div>