<a href="/categories/">Categories All</a><br/>
<a href="/categories/new">New category</a><br/>
<a href="/creators/">Creators All</a><br/>
<a href="/creators/new">New creator</a><br/>
<a href="/videos/">Videos All</a><br/>
<a href="/videos/new">New video</a>

<h2>Recently Added</h2>
<div>
  <% videos.forEach(video => { %>
    <a href="/video/<%= video.id %>">
      <img height="150" width="100" src="<%= video.thumbnailPath %>">
    </a>
  <% }) %>
</div>