@import 'shared/variables.css';
@import 'shared/admin-header.css';
@import 'shared/buttons.css';
@import 'shared/forms.css';
@import 'shared/tables.css';

:root {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--color-font);
}

*, *::before, *::after {
    box-sizing: border-box;
}
html {
    height:100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
a, 
a:visited {
    color: var(--color-font);
}
a:hover {
    color: var(--color-font-hover);
}
i {
    vertical-align: middle;
}
.circle {
    border-radius: 50%;
}
.dotted-bottom-line {
    border-bottom: 1px dotted #DDD;
}
h2 {
    font-size: 3em;
    font-weight: 200;
    color: var(--color-font-hover);
    margin-bottom:.3em;
}
.center {
    text-align: center;
}
.purple {
    color: var(--color-logo-purple);
}
.small {
    font-size: .8em;
}
.left-align {
    text-align: left;
}
.right-align {
    text-align: right;
}
.container {
    max-width: 1500px;
    margin: 0 15% 3rem;
}
.content-block {
    padding: 2em 0;
    border-bottom: 1px solid var(--color-font-hover);
    border-top: 1px solid var(--color-font-hover);
}
.content-header-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.content-block-row {
    display: flex;
    justify-content: space-between;
}
.content-block-row {
    padding: .5em 0;
}
.content-block.boxes {
    display: flex;
}
.boxes .content-block-row {
    flex-direction: column;
}
.boxes .content-block-row {
    padding: 1em;
    margin-right: 1em;
    border: 1px solid #DDD;
    border-radius: 5px;
}
.boxes .btn-row {
    margin-top: 1em;
}
.content-block-main-label {
    font-size: 1.1em;
}
.date-caption {
    font-size: .8em;
}
.new-item {
    text-align: right;
    margin: 2em 1em;
}
img.thumbnail {
    object-fit: cover;
}
footer {
    margin-top: auto;
    text-align: center;
}
footer .copyright {
    font-size:.8em;
}