<h2>Search Videos</h2>
<form action="/videos" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% videos.forEach(video => { %>
    <a href="/videos/<%= video.id %>">
        <div><%= video.setTitle %></div>
    </a>
<% }); %>