<div class="content-header-block">
    <h2>Admins</h2>
</div>
<div class="content-block">
    <form action="/admins/login" method="POST">
        <div class="form-row">
            <div class="form-item">
                <label>Email</label>
                <input type="email" name="email" value="">
            </div>
            <div class="form-item">
                <label>Password</label>
                <input type="password" name="password" value="">
            </div>
        
        </div>
        <div class="form-row form-row-end btn-row">
            <button id="submitLogin" class="btn btn-primary" type="submit">Log in</button>
        </div>
    </form>
</div>