<h2>New promo</h2>
<div class="content-block">
    <form action="/promos" method="POST">
        <%- include('_form_fields') %>
        <div class="form-row form-row-end btn-row">
            <a class="btn btn-secondary" href="/promos">Cancel</a>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
</div>